.campaignCard {
  // min-height: 27vh;

  .card {
    min-height: 30vh;
  }
  .card-body {
    .cardHeader {
      display: flex;
      justify-content: space-between;
      color: #ff4307;
      .card-link {
        color: #ff4307;
      }
    }
    .description {
      min-height: 8vh;
      display: flex;
      align-items: center;
    }
    .campaignPoint {
      display: flex;
      color: #ff4307;
      gap: 10px;
      margin-top: 2vh;
      .pointTexts {
        display: flex;
        .point {
          padding-left: 5px;
        }
      }
      .pointButtons {
        display: flex;
        gap: 5px;
      }
    }
  }
}
