<div class="addCampaign">
    <h5 class="pageTitle">Kampanya ekle</h5>
    <div class="card">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 ">{{currentDate}}</h6>
            <form [formGroup]="checkoutForm" (ngSubmit)="addCampaign()" novalidate>
                <div class="row">
                    <div class="col">
                        <input class="form-control campaignTitle " type="text" formControlName="title"
                            placeholder="Kampanya başlığı" aria-label=".form-control-lg example" required
                            style="height:7vh">
                        <p class="warningText" *ngIf="isBtnClicked">Kampanya başlığının girilmesi zorunludur.</p>
                        <select class="form-select pointSelect" formControlName="point"
                            aria-label="Default select example" style="height:7vh">
                            <option value="0" selected>Kampanya puanı </option>
                            <option *ngFor="let p of pointOptions" [value]="p">
                                {{p}}
                            </option>
                        </select>
                    </div>
                    <div class="col">
                        <textarea class="form-control campaignDescription" formControlName="description"
                            aria-label="With textarea" placeholder="Kampanya açıklaması" maxlength="250"
                            required></textarea>
                        <p class="warningText" *ngIf="isBtnClicked">Kampanya açıklamasının girilmesi zorunludur.</p>
                    </div>
                </div>
                <div class="submitBtn">
                    <button type="submit" class="btn">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal" [ngStyle]="{'display':displayStyle}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Kampanya başarılı bir şekilde oluşturuldu.</p>
                </div>

            </div>
        </div>
    </div>
</div>