.updateModal {
  .modal-title {
    color: #ff4307;
  }
  .campaignDescription {
    min-height: 15vh;
  }

  .campaignTitle {
    margin-bottom: 2vh;
  }

  .submitBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 2vh;
    button {
      color: #ff4307;
    }
    :hover {
      border: 1px solid #ffece6;
    }
  }
}
